{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Dall•e•gram</title>
</head>

<body>
  <header>
    <h1>Dall•e•gram</h1>
    <p>Welcome to Dall•e•gram!</p>
  </header>

  <main>
    <p>Post 1</p>
  </main>

  <footer>
    <p>Made for fun • Not associated with OpenAI • Fork on GitHub</p>
  </footer>

  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>