{% extends "base.html" %}
{% load shortnaturaltime %}

{% block content %}
<div class="content-container">
  <div class="main-column">
    <form class="prompt-form" method="POST">
      {% csrf_token %}
      <input
        type="text"
        class="prompt-input"
        name="prompt"
        placeholder="Enter a detailed description of an image"
      />
      <input class="generate-btn" type="submit" value="Generate" />
    </form>
    <div class="posts">
      {% for post in posts %}
      <div class="post">
        <div class="post-header">
          <div class="post-user">
            <a 
              class="user-avatar" 
              href="#" 
              style="background-image: url({% if post.profile.profile_image %}
              {{ post.profile.profile_image.url }}
              {% endif %})" 
            />
            <div class="user-username-date">
              <a class="username" href="#"><b>{{ post.profile.user.username }}</b></a>
              <span> • </span>
              <a class="post-date" href="#">
                {{ post.date | shortnaturaltime }}
              </a>
            </div>
          </div>
          <button class="follow-btn">Follow</button>
        </div>
        <img 
          class="post-image" 
          src="{% if post.image %}
          {{ post.image.url }}
          {% else %}
          https://picsum.photos/seed/{{ post.id }}/500/500
          {% endif %}" />
        <div class="post-footer">
          <div class="post-actions">
            <div class="post-actions-group">
              <button class="post-action-btn like-btn" />
              <button class="post-action-btn comment-btn" />
            </div>
            <div class="post-actions-group">
              <button class="post-action-btn save-btn" />
            </div>
          </div>
          <div class="post-likes"><b>0 likes</b></div>
          <div class="post-caption">
            <a class="username" href="#"><b>{{ post.profile.user.username }}</b></a>
            <span>
              {{ post.caption }}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="suggested-column">
    <div class="card">
      <div class="card-header">
        <b>Suggested for you</b>
        <a href="#">See All</a>
      </div>
      <div class="suggested-users">
        {% for profile in suggested_profiles %}
        <div class="suggested-user">
          <div class="user">
            <a 
              class="user-avatar" 
              href="#" 
              style="background-image: url({% if profile.profile_image %}
              {{ profile.profile_image.url }}
              {% endif %})" 
            />
            <div class="user-info">
              <a class="username" href="#"><b>{{ profile.user.username }}</b></a>
              <div class="user-display-name">{{ profile.display_name }}</div>
            </div>
          </div>
          <button class="follow-btn">Follow</button>
        </div>
        {% endfor %}
      </div>
    </div>
    <footer>
      <span>Not associated with Meta or OpenAI.</span>
      <br />
      <a href="https://github.com/noahamar/django-dallegram">
        <b>Fork on GitHub</b>
      </a>
    </footer>
  </div>
</div>
{% endblock %}
